.container {
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.30s ease;
    -moz-transition: 0.30s ease;
    -o-transition: 0.30s ease;
    transition: 0.30s ease;

    &.show-nav {
        -webkit-transform: translate(260px, 0px);
        -moz-transform: translate(260px, 0px);
        -o-transform: translate(260px, 0px);
        -ms-transform: translate(260px, 0px);
        transform: translate(260px, 0px);
    }
}
