// yarboroughGrid variables
$grid-columns: 12;
$grid-max-width: 100%;


// breakpoints
// mobile
$breakpoint-small: "only screen and (max-width: 480px)";
// tablet
$breakpoint-medium: "";
// desktop
$breakpoint-large: "";




// color variables
$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
